<div data-control="toolbar">

    <button
        class="btn btn-default oc-icon-eraser"
        data-request="onRemoveOrphanedTags"
        data-request-confirm="<?= e(trans('viamage.blog::lang.blog.delete_confirm')) ?>"
        data-stripe-load-indicator>
        Remove Orphaned Tags
    </button>

    <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="<?= e(trans('viamage.blog::lang.blog.delete_confirm')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$el.prop('disabled', false)"
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.form.delete')) ?>
    </button>

</div>
